    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  
    /*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/*general styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;

/* Generic project styles */
color:#2a2822;
font-family: "Lora","serif";
}

h1 {
    font-family: "Playfair Display", "serif";
}
/*Color palette for site Hex Codes: #FFFFF0, #CBA328, #5C5346*/

/*header*/
header {
    background-color: #CBA328;
    padding: 10px;
    text-align: left;
}

header a {
    text-decoration: none; /*remove underline*/
    color: inherit;
}

/*optimized for mobile*/
header h1 {
    font-size: 1.2rem;
    color:#FFFFF0;
}

/*navigation*/
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;

    padding: 0;
    gap: 10px;
    background-color: #CBA328;
}
nav ul li a {
    text-decoration: none;
    color: #FFFFF0;
    font-weight: bold;
}
    

/* Main content */
main {
background-color: #FFFFF0;
/*main element to push main down to keep footer at bottom*/
flex: 1 0 auto;
font-size: 1rem;
line-height: 1.5;
padding: 15px;

}

h2 {
    font-family: "Playfair Display" "serif";
    color: #CBA328;
    margin-bottom: 10px;
}

/*Footer*/
footer {
    background-color: #5C5346;
    text-align: center;
   padding: 35px;
}